<div class="navbar-fixed">

<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Automation Stuff</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
        <!-- Dropdown Trigger -->
        <li>
            <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Dutro</a>
        </li>
        <li>
            <a class='dropdown-button btn' href='#' data-activates='dropdown2'>Vestil</a>
        </li>
        <li>
            <a class='dropdown-button btn' href='#' data-activates='dropdown3'>Equipto</a>
        </li>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
          <li><a href="/new">Create New Model</a></li>
          <li><a href="/update">Scrape Websites</a></li>
          <li><a href="/dutro">View Existing Models</a></li>
        </ul>

        <ul id='dropdown2' class='dropdown-content'>
          <li><a href="/new">Create New Model</a></li>
          <li><a href="/update">Scrape Websites</a></li>
          <li><a href="/vestil">View Existing Models</a></li>
        </ul>

        <ul id='dropdown3' class='dropdown-content'>
          <li><a href="/new">Create New Model</a></li>
          <li><a href="/update">Scrape Websites</a></li>
          <li><a href="/equipto">View Existing Models</a></li>
        </ul>

    </ul>
  </div>
</nav>


</div>
