<%= erb(:_header) %>

<%= erb(:_navigation) %>

<div class="container">
    <h4>Vestil</h4>

    <ul>
        <li>
            <a href="/update">
                Update Vestil Models
            </a>
        </li>
        <li>
            <a href="/vestilfiltered">
                View Vestil Models
            </a>
        </li>
        <li>
            <a href="/model/new">
                Create new Vestil Model
            </a>
        </li>
    </ul>

</div>

<div class="container">
    <h4>Dutro</h4>

    <ul>
        <li>
            <a href="/update">
                Update Dutro Models
            </a>
        </li>
        <li>
            <a href="/dutrofiltered">
                View Dutro Models
            </a>
        </li>
        <li>
            <a href="/model/new">
                Create new Dutro Model
            </a>
        </li>
    </ul>

</div>

<div class="container">
    <h4>Equipto</h4>

    <ul>
        <li>
            <a href="/update">
                Update Equipto Models
            </a>
        </li>
        <li>
            <a href="/equiptofiltered">
                View Equipto Models
            </a>
        </li>
        <li>
            <a href="/model/new">
                Create new Equipto Model
            </a>
        </li>
    </ul>

</div>
