<h3>Welcome to Sinatra!</h3>
<form action="/dutrofiltered" method="POST">
    <input type="text" name="model[name]" value="Enter Model Name" />
    <input type="text" name="model[url]" value="Enter Model url" />
    <input type="text" name="model[price]" value="Enter Model price" />
    <input type="text" name="model[image]" value="Enter Model image" />
    <input type="text" name="model[modelnumber]" value="Enter Model number" />
    <input type="submit" value="Submit" />
</form>


<form class="" action="/execute" method="post">
    <h1>Search Dutro</h1>
    <input type="submit">
</form>


<form class="" action="/dead" method="post">
    <h1>DELETE THIS NEPHEW</h1>
    <input type="submit">
</form>

<div>
    <a href="/dutrofiltered">View Dutro Filtered</a>
</div>
<div>
    <a href="/dutro">View All Dutro</a>
</div>
<div>
    <a href="/all">View All Models</a>
</div>
