<h3>Welcome to Sinatra!</h3>

<form action="/execute" method="post">
    <h1>Search Dutro</h1>
    <input type="submit">
</form>

<div>
    <a href="/dutrofiltered">View Dutro Filtered</a>
</div>
<div>
    <a href="/dutro">View All Dutro</a>
</div>
<div>
    <a href="/all">View All Models</a>
</div>
