<%= erb(:_header) %>

<%= erb(:_navigation) %>

<ul>
    <li>
        <a href="/dutrofiltered">View Competitors Prices for Dutro</a>
    </li>
    <li>
        <a href="/dutro">View All Dutro</a>
    </li>
    <li>
        <a href="/all">View All Models</a>
    </li>
    <li>
        <a href="/update">Search and Update Models</a>
    </li>
    <li>
        <a href="/model/new">Add model number</a>
    </li>
    <li>
        <a href="/vestil">View Vestil</a>
    </li>
</ul>
