<%= erb(:_header) %>

<%= erb(:_navigation) %>

<div class="container">
    <div class="row">

    <h4>Vestil</h4>

    <ul>
        <li class="col s4">
            <a href="/update">
                Update Vestil Models
            </a>
        </li>
        <li class="col s4">
            <a href="/vestil">
                View Vestil Models
            </a>
        </li>
        <li class="col s4">
            <a href="/new">
                Create new Vestil Model
            </a>
        </li>
    </ul>

    </div>
</div>

<div class="container">
    <div class="row">

    <h4>Dutro</h4>

    <ul>
        <li class="col s4">
            <a href="/update">
                Update Dutro Models
            </a>
        </li>
        <li class="col s4">
            <a href="/dutrofiltered">
                View Dutro Models
            </a>
        </li>
        <li class="col s4">
            <a href="/new">
                Create new Dutro Model
            </a>
        </li>
    </ul>

    </div>
</div>

<div class="container">
    <div class="row">

    <h4>Equipto</h4>

    <ul>
        <li class="col s4">
            <a href="/update">
                Update Equipto Models
            </a>
        </li>
        <li class="col s4">
            <a href="/equiptofiltered">
                View Equipto Models
            </a>
        </li>
        <li class="col s4">
            <a href="/new">
                Create new Equipto Model
            </a>
        </li>
    </ul>

    </div>
</div>
