<h3>All Models</h3>
<table>
    <tr>
        <td>
            Model Number
        </td>
        <td>
            Price
        </td>
        <td>
            Website
        </td>
    </tr>
<% @models.each do |model| %>
    <tr>
        <td>
            <%= model.modelnumber %>
        </td>
        <td>
            $<%= model.price %>
        </td>
        <td>
            <a href= <%= model.url %> >
                <%= model.website %>
            </a>
        </td>
    </tr>
    <% end %>
</table>

<a href="/">Back to Home</a>
