<form action="/dutrofiltered" method="POST">

    <h3>Model Name</h3>
    <input type="text" name="model[name]" value="Enter Model Name" />

    <h3>Model URL</h3>
    <input type="text" name="model[url]" value="Enter Model url" />

    <h3>Model Price</h3>
    <input type="text" name="model[price]" value="Enter Model price" />

    <h3>Model Image</h3>
    <input type="text" name="model[image]" value="Enter Model image" />

    <h3>Model Number</h3>
    <input type="text" name="model[modelnumber]" value="Enter Model number" />

    <h3>Model Website</h3>
    <input type="text" name="model[website]" value="Enter Model Website" />
    <input type="submit" value="Submit" />
</form>

<a href="/">Home</a>
