<form action="/dutrofiltered" method="POST">
    <input type="text" name="model[name]" value="Enter Model Name" />
    <input type="text" name="model[url]" value="Enter Model url" />
    <input type="text" name="model[price]" value="Enter Model price" />
    <input type="text" name="model[image]" value="Enter Model image" />
    <input type="text" name="model[modelnumber]" value="Enter Model number" />
    <input type="submit" value="Submit" />
</form>
