<%= erb(:_header) %>

<%= erb(:_navigation) %>

<form action="/update" method="post">
    <h1>Search Equipto</h1>
    <input type="submit">
</form>

<% if @updated %>
    <p> <%= @updated %> </p>
<% end %>
